@import "../node_modules/nord/src/nord.css";

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /*height: 100vh;*/
  background-image: url("assets/rain_drops_animated.jpg");
  background-size: cover;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
}

#cleanup-agenda, form button {
  cursor: pointer;
  font-size: 14px;
  display: block;
  transition: 0.3s ease-in-out;
  padding: 7px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: var(--nord6);
}

#cleanup-agenda:hover, form button:hover {
  background-color: var(--nord5);
}

#cleanup-agenda:active, form button:active {
  background-color: var(--nord4);
}

form input {
  display: block;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 14px;
  width: 95%;
}

top-bar, list-window, todays-agenda {
  box-shadow: #0000000F 0 10px 10px;
}

top-bar {
  display:block;
  position: sticky;
  top: 25px;
  width: 96vw;
  margin-top: 5px;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 6px;
  background-color: #FFFFFF;
}

top-bar h1 {
  padding: 7px;
}

todays-agenda[show] {
  display:block;
  position: sticky;
  top: 100px;
  margin-left: 2vw;
  float: left;
  min-height: 90vh;
  padding: 10px;
  width: 350px;
  border-radius: 6px;
  background-color: #FFFFFF;
}

todays-agenda h1 {
  text-align: center;
}

agenda-tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#list-windows-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
  /*width: 100vw;*/
  /*height: 100vb;*/
  /*background-color: var(--nord3);*/
}

list-window {
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

list-window h1 {
  text-align: center;
}

task-row {
  display: flex;
  flex-direction: row;
}

task-row task-block {
  width: 100%;
}


completed-task-block, task-block {
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}

completed-task-block:hover, task-block:hover {
  color: var(--nord3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

completed-task-block {
  text-decoration: line-through;
}

task-title {
  font-size: x-large;
  display: block;
}

task-description {
  font-size: large;
  display: block;
  word-wrap: break-word;
}

agenda-button {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 5px;
  font-size: 30px;
  cursor: pointer;
}

agenda-button:hover {
  color: var(--nord3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

#cleanup-agenda {
  position: absolute;
  bottom: 10px;
  width: 94%;
  font-size: 20px;
}

details {
  transition: 0.3s ease-in-out;
  text-align: center;
}
