@import "../node_modules/nord/src/nord.css";

body {
  margin: 0;
  padding: 0;
  background-image: url("assets/rain_drops_animated.jpg");
  background-size: cover;
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;
  overflow: hidden;
}

#top-bar {
  width: 98vw;
  margin-left: 1vw;
  border-radius: 6px;
  background-color: #FFFFFF;
  padding: 5px;
}

#list-windows-container {
  display: flex;
  flex-direction: row;
  padding: 25px;
  width: 100vw;
  height: 100vb;
  /*background-color: var(--nord3);*/
}

list-window {
  background-color: #FFFFFF;
  border-radius: 6px;
  padding: 10px;
  margin: 20px;
  min-width: 350px;
  height: fit-content;
  box-shadow: #0000000A 0 10px 10px;
  display: flex;
  flex-direction: column;
}

list-window h1 {
  text-align: center;
}

task-block {
  margin: 5px;
  padding: 10px;
}

task-block[completed] {
  text-decoration: line-through;
}

task-title {
  font-size: x-large;
  display: block;
}

task-description {
  font-size: large;
  display: block;
}